<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.gdt.mapper.EntMapper">
	<select id="queryEntInfo" parameterType="int" resultType="map">
		select a.ent_name  ,a.res_man  ,a.detail_addr ,a.ent_property  , a.conn_phone
		from py_ent_info as a inner  join r_ms  as b  on a.org_code=b.org_code  left join r_ms_prop_rela as d on b.MS_NO=d.MS_NO left  join t_log_hash as e on e.ms_no=b.ms_no
		 where  e.id=#{id}
		and  b.P_MS_NO ='' 
		AND b.ROOT_FLAG = 0 
		AND b.VALID_FLAG = 0 
		AND d.PROP_NO = 'P014' 
	</select>
	<select id="queryPowerMonth" resultType="map">
		select a.ent_name  ,a.res_man  ,a.detail_addr ,a.ent_property  , a.conn_phone,
		c.ms_no, c.b001 as 'power' ,c.b001*0.758 as 'co2' ,c.b001*0.0001/1.229 as 'savepower' ,avg(c.b002) as 'load' 
		from py_ent_info as a inner  join r_ms  as b  on a.org_code=b.org_code left join r_his_elecquan_month as c on  c.ms_no=b.ms_no left join r_ms_prop_rela as d on b.MS_NO=d.MS_NO 
		left join t_log_hash as e on e.ms_no=b.ms_no
		 where data_date=#{month}
		and  b.P_MS_NO ='' 
		AND b.ROOT_FLAG = 0 
		AND b.VALID_FLAG = 0 
		AND d.PROP_NO = 'P014' 
		AND e.id=#{id}
	</select>
	<select id="queryCurrMonthMonth" resultType="map">
		select a.ent_name  ,a.res_man  ,a.detail_addr ,a.ent_property  , a.conn_phone,
		c.ms_no, sum(c.b001) as 'power' ,sum(c.b001)*0.758 as 'co2' ,sum(c.b001)*0.0001/1.229 as 'savepower' ,avg(c.b002) as 'load' 
		from py_ent_info as a inner  join r_ms  as b  on a.org_code=b.org_code left join r_his_elecquan_day as c on  c.ms_no=b.ms_no left join r_ms_prop_rela as d on b.MS_NO=d.MS_NO 
		left join t_log_hash as e on e.ms_no=b.ms_no
		 where month(CURDATE())=month(c.data_date)
		and  b.P_MS_NO ='' 
		AND b.ROOT_FLAG = 0 
		AND b.VALID_FLAG = 0 
		AND d.PROP_NO = 'P014' 
		AND e.id=#{id}
		 group by ms_no
	</select>
</mapper>